body {
    /* display: flex; */
    min-height: 100vh;
    /* flex-direction: row; */

  }

  main {
    flex: 1 0 auto;
    margin-bottom: 5  px;
  }
  header{
    background-color: rgba(45, 206, 224, 0.751);
    overflow: hidden;
    padding: 15px 10px;
    margin-bottom: 10px;
    border-radius: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
header a{
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 20px;
}
#logo{
  font-size: 25px;
  font-weight: bold;
}
header a:hover{
  background-color: rgb(255, 255, 255);
  color: black;
}
header a:active{
  background-color: rgb(50, 238, 13);
  color: white;
}
.esquerda{
  float: right;
}
.imgs img{
  max-width: 100%;
  height: auto;
}
.imgs{
  width: 43%;
  height: auto;
  float: left;
  display: flex;
  margin-left: 7%;
  margin-bottom: 1%;
  
}
footer{
  /* position: fixed; */
  display: inline-block;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(45, 206, 224, 0.751);
  color: black;
  text-align: center;
}
.link-navegacao{
  margin-left: 30px;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
}
.centralizar a:hover{
  background-color: rgba(3, 190, 242, 0.287);
    font-weight: bold;
    border-color: blue;
    border-radius: 10px;
    padding: 4px;
}

.centralizar{
  text-align: center;
}
.texto{
  font-size: 25px;
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.imagens-links{
  float: left;
  margin-left: 110px;
}
.imagens-links img{
  max-width: 100%;
  height: auto;
}
.imagens-links p {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.texto a{
  text-decoration: none;
}
h1{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#formulario{
  margin-left: 5px;
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}


span{
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
input[type=submit],input[type=reset],input[type=button] {
  background-color: rgba(45, 206, 224, 0.751);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  margin-left: 1%;
  border-radius: 50px;
}
input[type=submit]:hover,input[type=reset]:hover,input[type=button]:hover{
  background-color: rgb(139, 224, 233);
}
input[type=text], select, textarea,input[type=password],input[type=email],input[type=number],input[type=range], input[type=date]{
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
form {
  border-radius: 30px;
  background-color: #b5b5b5ab;
  padding: 20px;
}
.form{
  margin-left: 10%;
  margin-right: 10%;
}
.centralize{
  margin-left: 40%;
}
.imagens{
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.imagens img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
.img-borda{
  border-radius: 8px;
  opacity: 50%;
}
.img-cards{
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.img-cards p {
  text-align: center;
  padding: 10px 20px;
}
.img-filters{
  filter:grayscale(50%);
  filter: brightness(100%);
  filter: invert(30%);
}
.img-inverter:hover{
transform: scaleX(-1);
opacity: 50%;
border-radius: 500px;
}
.imagens a{
  text-decoration: none;
  background-color: rgba(11, 205, 244, 0.841);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  border: 3PX solid #67ed36;
}
.imagens a:hover{
    background-color: #000000;
    color: white;
}
.img-bordas{
  width: 40%;
  height: auto;
  float: left;
  margin-left: 5%;
  margin-bottom: 1%;
  text-align: center;
  font-weight: bold;
}
.background-dog{
  background-image: url(imgs/dog_caramelo.gif);
  background-size: 15%;
  background-attachment: fixed;
}
.background-dog .title{
  background-color: white;
}
.img-bordas img{
  width: 100%;
  height: auto;
}
.img-radius{
  border-radius: 8px;
}
.img-radius-circular{
  border-radius: 30%;
}
.img-bordas code{
  font-size: 20px;
}
.code{
  background-color: rgb(183, 181, 181);
  border-radius: 10px;
  padding: 1%;
  margin: 1%;
}
.title{
  width: 100%;
  height: auto;
  display: inline-block;
}
.thumbnail{
  width: 50%;
  height: auto;
  display: inline-block;
  float: left;
}
.thumbnail img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
.t2 img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 95%;
 
}
.t2 img:hover{
  box-shadow: 0 0 2px 10px rgba(0, 140, 186, 0.5);
}
.polaroid img{
  width: 100%;
  height: auto;
}
.polaroid{
  display: inline-block;
  float: left;
  width: 45%;
  margin-left: 3%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
.polaroid p{
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
.opacidade{
  width: 30%;
  height: auto;
  display: inline-block;
  margin-left: 2.5%;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}
.opacidade img{
  width: 100%;
}
.vinteporcento img{
  opacity: 0.2;
}
.meia img{
  opacity: 0.5;
}
.filtroimg img{
 width: 19%;
 height: auto;
margin-left: 10px;
margin-bottom: 1%;
}
.blur {filter: blur(4px);}
.brightness {filter: brightness(250%);}
.contrast {filter: contrast(180%);}
.grayscale {filter: grayscale(100%);}
.huerotate {filter: hue-rotate(180deg);}
.invert {filter: invert(100%);}
.opacity {filter: opacity(50%);}
.saturate {filter: saturate(7);}
.sepia {filter: sepia(100%);}
.shadow {filter: drop-shadow(8px 8px 10px green);}

.gallery{
  border: 1px solid #ccc;
}
.gallery:hover {
  border: 1px solid #777;
}
.gallery img{
  width: 100%;
  height: auto;
}
.responsive{
  width: 19%;
  padding: 0 6px;
  float: left;
}
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
.ref{
  background-color: rgba(157, 155, 155, 0.914);
  text-align: center;
  display: inline-block;
  margin-left: 40%;
  padding: 1%;
  color: white;
}
.ref a{
  text-decoration: underline;
  color: white;
  
}
.ref a:hover{
  color: #e13232;
  font-size: 15px;
}

