* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
nav{
    background-color: pink;
    height: 100%;
    width: 100%;
}
.logo{
    color: black;
    font-size: 2em;
    line-height: 2em;
    margin-left: 0.3em;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 0.5em;
    margin-top: 0.3em;
}
nav ul li{
    display: inline-block;
    line-height: 3em;
    margin: 0.3em;
    text-transform: uppercase;
}
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
}