#primeiro{
    color: rgb(255, 247, 0);
    font-size: 20px;
    text-align: justify;
    width: 400px;
    background-color: rgb(0, 42, 255);
    margin: auto;
    padding: 60px;
    border-radius: 10rem;
}
h2{
    color: blueviolet;
    text-align: center;
}
#segundo{
    color: rgba(0, 255, 8, 0.952);
    font-size: 20px;
    text-align: justify;
    width: 200px;
    background-color: rgb(255, 0, 0);
    margin: auto;
    padding: 60px;
    border-radius: 20px;
}
body{
    background-color: wheat;
}
a:hover{
    background-color: rgba(3, 190, 242, 0.787);
    color: black;
    font-weight: bold;
    border-color: blue;
}
a:link{
    text-decoration: none;
    color: #FFF;
    background-color: #B1B1B1;
    font-weight: bold;
    border-width: 4px;
    border-style: solid;
    border-top-color: #DFDFDF;
    border-right-color: #666;
    border-bottom-color: #333;
    border-left-color: #858585;
}
