
<style>
  .navcss{
    background-color:rgba(130,72,32,255);
  }
  .navcss a{
    color:white;
  }
</style>
<nav class="navbar navbar-expand-lg navcss fixed-top">
  <div class="container-fluid ">
    <a class="navbar-brand" href="../index.html">Dinossauros</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="../historiadinossauros.html">História dos Dinossauros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../galeriaDinos.html">Galeria de Imagens de Dinossauros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../quizDinos.html">Quiz DINO!</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dinossauros
          </a>
          <ul class="dropdown-menu bg-black" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="../dinos/ptero.html">Pterodáctilo</a></li>
            <li><a class="dropdown-item" href="../dinos/t-rex.html">T-REX</a></li>
            <li><a class="dropdown-item" href="../dinos/velociraptor.html">Velociraptor</a></li>
            <li><a class="dropdown-item" href="../dinos/triceratops.html">Tricerátops</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Atividades
          </a>
          <ul class="dropdown-menu bg-black" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="../atividades/github.html">Github</a></li>
            <li><a class="dropdown-item" href="../atividades/javascript.html">Javascript</a></li>
            <li><a class="dropdown-item" href="../atividades/todasimagens.html">Imagens</a></li>
            <li><a class="dropdown-item" href="../atividades/usandocss.html">Usando CSS</a></li>
            <li><a class="dropdown-item" href="../atividades/usandoforms.html">Usando Forms</a></li>
            <li><a class="dropdown-item" href="../atividades/usandoimagelinks.html">Usando Imagens com link</a></li>
            <li><a class="dropdown-item" href="../atividades/usandolinks.html">Usando Links</a></li>
            <li><a class="dropdown-item" href="../atividades/tudosobrecss.html">Tudo sobre CSS</a></li>
            <li><a class="dropdown-item" href="../atividades/atividadecss.html">Mais sobre CSS</a></li>
            <li><a class="dropdown-item" href="https://projeto-angular-dusky.vercel.app/">Projeto Angular</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
